<a href="https://colab.research.google.com/github/tlerksuthirat/CCA_parp_atr/blob/main/Select_specific_month.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("/content/02_2017_EN_process_unique.csv")

In [5]:
df.shape

(107837, 14)

In [6]:
#convert date column to datetime format
df['created_at'] = pd.to_datetime(df['created_at'])
#create new column call month and extract month from date column
df['month'] = df['created_at'].dt.month

In [7]:
#Show the first 5 rows
df.head(5)

,author_id,geo.place_id,username,author_followers,author_tweets,author_description,author_location,tweet,created_at,retweets,replies,likes,quote_count,processed,month
0,4.736514e+08,NaN,dwelch57,260,72687,Nurse Consultant Seattle Seahawks fan Boise St...,"Idaho, USA",@realDonaldTrump Boy your dementia is showing ...,2017-12-31 23:59:32+00:00,0,0,0,0,boy your dementia is showing today,12
1,9.133966e+17,NaN,smokemdanno,43,7440,Living life ~,USA,@washingtonpost Dementia will do this ...,2017-12-31 23:59:23+00:00,0,0,0,0,dementia will do this,12
2,8.235139e+17,NaN,RefinedHalifax,419,1813,"Locally published magazine showcasing people, ...","Halifax, Nova Scotia",Age-related challenges like dementia can prese...,2017-12-31 23:59:22+00:00,0,0,0,0,age related challenges like dementia can prese...,12
3,4.986478e+08,NaN,ToonCoyne,427,21244,NUFC sport in general. fiercly patriotic but n...,Wallsend. Newcastle Upon Tyne,@SteveBo22 @CAWPBT You cant stop breeding mate...,2017-12-31 23:58:59+00:00,0,1,0,0,you can not stop breeding mate nature looks af...,12
4,1.276125e+09,NaN,pattipetersonny,1861,121453,#AnyoneButTrump,NaN,@realDonaldTrump Get checked for dementia at y...,2017-12-31 23:57:39+00:00,0,0,1,0,get checked for dementia at your physical,12

In [8]:
# Get month number
unique_months = df['month'].unique()

In [9]:
print(unique_months)

[12 11]

In [10]:
# Iterate through the unique months, filter the DataFrame, and save the data to separate CSV files
for month in unique_months:
    month_df = df[df['month'] == month]
    output_file = f'select_month_{month}.csv'
    month_df.to_csv(output_file, index=False)